/* SHARED CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin:0
}

.header {
    height: 60px;
    background-color: pink;
    padding-left: 20px;
    padding-right: 20px;
}

#network-logo {
    color: black;
}

#feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.media-card {
    background-color: blueviolet;
    width: 50%;
}
