.header-purple {
    background-color: #422899;
}

#network-logo {
    color: white;
}

#feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px 25%;
}

.media-card {
    height: fit-content;
    width: 100%;
}

.imgBox {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 10px 0 15px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-photo {
    height: 40px;
    border-radius: 100%;
}

.likes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.description p, .description h4, .comments p, .comments h4 {
    display: inline;
}
